body{
    /* background-image: linear-gradient(120deg, rgb(0, 0, 0) 50%,rgb(243, 0, 0)); */
    background-repeat:repeat-y;    
    margin: 0px 0px;
            height:100vh;
            width: 100%;
        }
        header{
            position: fixed;
           top: 10px;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: white;
            background:hsla(0, 50%,10%, 0);
            
        }
        header div{
            justify-content: center;
        }
        header h1{
            background: linear-gradient(to left ,rgb(49, 44, 44), red,white);
             -webkit-background-clip: text;
             -webkit-text-fill-color:transparent;
        }
        .logo_img{
            margin-top: 0.5em;
             padding:0.5em;  
             border-left: 2px solid red; 
             border-radius:50%  ;
             box-shadow: -10px 0px 10px 0px  red;
        }
        .logo{
            margin-left: -20px;
            /* border-bottom: 2px groove red; */
            /* border-top: 2px groove red; */
            border-right: 2px groove red;
            box-shadow: 10px 0px 20px 0px  red;
            border-radius: 0px 10px 10px 0px;
            padding: 0px 20px;     
            background-color: hsla(0, 50%,10%, 0);     
        }
        header ul{
            gap: 2em;
        }
        header a{
            text-decoration: none;
        }
        .main_page{
            background-image: linear-gradient(120deg, rgb(0, 0, 0) 50%,rgb(243, 0, 0));
            height: 100%;
            /* background-image: linear-gradient(120deg, rgb(0, 0, 0) 50%,rgb(243, 0, 0)); */
            color:white;
            padding-top: 10em;
            /* padding-bottom: 16em; */
            height: 100%;  
            /* padding-bottom: 200px; */
            animation: welcome 3s ease;
            margin-top: -2%;
        }
        @keyframes welcome{
            /* 0%{transform: translateY(-5em); opacity:0;} */
             0%{transform: translateX(-10em); opacity:0;}
            100%{transform: translateY(0);}
        }

        .main_page .heading{
            
            font-size: 7em;
            background: linear-gradient(to left , red, white,black);
             -webkit-background-clip: text;
             -webkit-text-fill-color:transparent;
             margin-bottom: 0.5em;
             
             }
        
        .main_page button{
            font-size: 1em;
            /* margin: 3em 1em 4em 1em ; */
            padding: 0.4em 3em 0.4em 3em;
            border-radius: 1em;
        }
        /* Home PAge Style end */
        
        /* About page*/
        .about_page{
            padding:3% 0% 10% 0% ;
            /* margin-top: -5%; */
            background-color: rgb(1, 1, 19);
            /* background-image: linear-gradient(to right, rgb(0, 0, 0) 30%,rgb(243, 0, 0)); */
            color: white;
            animation: Wabout 2s ease;
        }
         @keyframes Wabout{
            0%{transform: translateY(-5em); opacity:0;}
             /* 0%{transform: translateX(-10em); opacity:0;} */
            100%{transform: translateY(0);}
        }
        /* About page css end */
        /* Approach page  */
        .approch {
            /* margin-top: -3%; */
            padding-top: 3%;
            /* border: 2px solid white; */
            background-color: rgb(22, 21, 21);
            /* width: 100%; */
            height: auto;
            color:white;
            text-align:center;
            /* margin: 0% 15% 0% 15%; */
            /* margin: 0% 10% 0% 10%; */
        }
        .approch .approch_box p{
            /* border: 2px solid white; */
            font-size: 1.5em;
            text-align: justify;
            margin-top: 5%;
            width: 70%;
        }
         .approch .approch_box h1{
            /* border: 2px solid white; */
            margin-top: 5%;
            font-size: 3em; 
            margin-top :1%;
            
        }
        .approch .approch_box h1 span{
            background: linear-gradient(to left ,rgb(65, 16, 16), rgb(255, 0, 0)); 
            -webkit-background-clip: text;
             -webkit-text-fill-color:transparent; 

        }
        .approch .page ul li a{
            background-color: #0d0d0d;
        }
         .approch .box{
            border: 2px solid white;
            border-radius: 20px;
            background-color: white;
            color: black;
            border: 1px solid black;
            margin: 5%  3% 5% 3%;
            padding: 3% 4% 1% 4%;
            box-shadow: 10px 5px 0px 0px red;
            transition: 1s  ease;
        }
        .box:hover{
    
              box-shadow: 0px 0px 1px 10px red;
                   
        }
        .approch .box img{
            width: 50px;
            margin-bottom: 20%;
        }
        .approch .box p{
            margin-top: 10%;
            /* text-align: justify; */
        }
        .approch_box .row{
            
        }
        .approch .foot .col button{
            margin-top: 8%;
            margin-bottom: 5%;
           padding: 0.4em 3em 0.4em 3em;
            border-radius: 1em;
            font-weight: bold;
        }

        
        /* portfolio */
        .portfolio{
            width: 100%;
            background-color: black;
            /* width:100%; */
            height:auto;
              /* margin: 0% 15% 0% 15%; */
            color: white;

        }  
        .port_card{
           border-radius: 20px ;
           transition: 0.5s;
 
        }
        .port_card:hover{
            transform:translateY(-1.5em);
            border:1px solid white; 
            box-shadow: 0px 0px 20px 0px white;
            
        }
        .port_card .image{
            background-image: url(images/port_card.jpg);
            background-size: auto;
            border-radius: 10px 10px 0px 0px;
            width:20%;
           
             /* border:2px solid white; */
                    
            width:100%;
            height:60%;
        }
        .port_card .image span{
            justify-content: end;
            /* float: right; */
             margin:0.3em ;
              padding:0em 0.6em ;
               background-color: black;
                color: white; 
            border-radius: 10px;
            
        }
        .port_card .image img{
            /* width: 100%; */
        }
        .port_card .image .row{
                opacity: 0;
                margin:20%;
                /* border: 2px solid black; */
                /* width: 100%; */
                transition:opacity 1s ease;
        }

        .port_card .image .row:hover{
                /* width:100%; */
                opacity: 1;
        }
        .port_card .image .row .col{
        
        }

        .port_card .data{
            border-radius: 0px 0px 10px 10px;
            padding:2% 0% 2% 2%;
             /* border:2px  solid white; */
        }
      footer{
            padding-top: 3%;
            color: white;
        }
        footer a{
            text-decoration: none;
            color:white;
        }

        /* Sherullah Style CODE End */







        /* Rehan Style Code */
         .line{
          margin-top: 70px;
          /* margin-bottom: 70px; */
          width: 100px;
          height: 10px;
          border-radius: 10px;
          background: linear-gradient(90deg, aqua, aqua,pink);
          box-shadow: 0 0 20px aqua, 0 0 40px pink;
          }
          #Rehan_section{
            /* margin-bottom: 200px; */
            background-color: rgb(29, 28, 28);
            height: 1000px;
            color: white;
            /* display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: 'Poppins',sans-serif; */
          }
          .testimonial-card {
            background: rgba(red, green, blue, alpha);
            color: #fff;
            width: 350px;
            padding: 25px;
            border-radius: 12px;
            box-shadow: 0 0 20px rgba(red, green, blue, alpha);
            text-align: left;
          }
          .stars {
            color: #ffc107;
            font-size: 22px;
            letter-spacing: 3px;
            margin-bottom: 10px;
          }
          .quote {
            font-size: 16px;
            font-style: italic;
            margin-bottom: 20px;
          }
          .user{
            display: flex;
            align-items: center;
            gap: 12px;
          }
          .avatar {
            width: 45px;
            height: 45px;
            background: linear-gradient(135deg, #6a5acd, #00bcd4);
            border-radius: 50%;
            display: flex;
            justify-content: center;
            font-weight: bold;
            font-size: 20px;
          }
          .info h4 {
            margin: 0;
            font-size: 16px;
            font-weight: 600;
          }
          .info p {
            margin: 2px 0 0;
            color: #bbb;
            font-size: 14px;
          }
          .card_r {
            background-color: white;
            color:black;
            margin: 30px;
            padding: 50px 60px 50px 60px;
            border: 5px solid grey;
            width: 350px;
            height: 300px;
            float: inline-start;
            /* border: 2px solid white; */
          }
          .heading{
           font-size: 60px;
           font-weight: bold;
           text-align: center;
           background-color: #0d0d0d; 
           padding: 60px 0;
          }
          .main{
           /* padding-bottom: 50px; */
           /* justify-content: space-between; */
           width: 100%;
           /* height: 600px; */
          }
          .main2{
           padding-bottom: 50px;
           justify-content: space-between;
           width: 100%;
           /* height: 600px; */
          }
          /* Rehan Style End */