body{
              margin: 0em 2em;
            height:100vh;
        }
        header{
            position: fixed;
           top: 10px;
            width: 100%;
            display: flex;
            justify-content: center;
            background-color: white;
            background:hsla(0, 50%,10%, 0);
            
        }
        header div{
            justify-content: center;
        }
        header h1{
            background: linear-gradient(to left ,rgb(49, 44, 44), red,white);
             -webkit-background-clip: text;
             -webkit-text-fill-color:transparent;
        }
        .logo{
            border: 2px groove red;
            box-shadow: 0px 0px 20px 5px  red;
            border-radius: 10px;
            padding: 0px 20px;     
            background-color: hsla(0, 50%,10%, 0);     
        }
        header ul{
            gap: 2em;
        }
        header a{
            text-decoration: none;
        }
        .main_page{
            background-image: linear-gradient(120deg, rgb(0, 0, 0) 50%,rgb(243, 0, 0));
         
            height: 100%;
            /* background-image: linear-gradient(120deg, rgb(0, 0, 0) 50%,rgb(243, 0, 0)); */
            color:white;
         
            padding-top: 10em;
            /* padding-bottom: 16em; */
            height: 100%;  
        }
        .main_page h1{
            
            font-size: 7em;
            background: linear-gradient(to left , red, white,black);
             -webkit-background-clip: text;
             -webkit-text-fill-color:transparent;
             margin-bottom: 0.5em;
              /* text-shadow: 5px 0px  red,5px 5px white ; */
            animation: gradientMove 9s ease infinite; 
             }
        @keyframes gradientMove{
            0%{background-position:0% 50%;}
            50%{background-position:100% 50%}
            100%{background-position:0% 50% }
        }
        
        .main_page button{
            font-size: 1em;
            /* margin: 3em 1em 4em 1em ; */
            padding: 0.4em 3em 0.4em 3em;
            border-radius: 1em;
        }
        .main_p{
            font-size: 1.5em;
        }
        .bold p b{
            font-size:2em ;
        }
        /* Home PAge Style end */
        
        /* About page*/
        .about_page{
            background-image: linear-gradient(to right, rgb(0, 0, 0) 30%,rgb(243, 0, 0));
            color: white;
        }